/* NAV BAR */
.masthead,
.greedy-nav {
  background-color: #1b5e20 !important;
}

/* LINKS */
.greedy-nav a {
  color: white !important;
}

/* REMOVE BOX EFFECT */
.greedy-nav a {
  background: transparent !important;
}
