---
---

@import "minimal-mistakes";

/* NAV BAR OVERRIDES */
.masthead {
  background-color: #1b5e20 !important;
}

.masthead a,
.greedy-nav a {
  color: white !important;
}

.greedy-nav .visible-links a {
  color: white !important;
}
